
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p><del>#1 Profilim</del></p>
<p><del>#2 Tüm başlılarda pageing</del></p>
<p><del>#3 Mesajlarda session</del></p>
<p><del>#4 Oturum yönetiminin mimariye tasınması</del></p>
<p>#5 token kullanımı</p>

